/* header */

.header {
  border-bottom: 1px solid var(--header-border);
}
.container-nav {
  display: flex;
  margin-left: auto;
}
.container-nav__list {
  display: flex;
  margin-left: 93px;

  & .link.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--accent-text-color);
  }
}
.container-nav__list li {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.container-nav li {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.container-nav__items {
  display: flex;
  align-items: center;
}
.container-nav__logo,
.footer-nav__logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container-nav__logo--black {
  color: var(--primary-text-color);
}
.container-nav__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header-contacts__item {
  display: flex;
  align-items: center;
  color: var(--contacts-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.header-contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: var(--contacts-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__item:hover&,
  .header-contacts__item:focus& {
    fill: var(--accent-text-color);
  }
}
.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: var(--contacts-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__item:hover&,
  .header-contacts__item:focus& {
    fill: var(--accent-text-color);
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.current-studio {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 48px;
    height: 4px;

    background-color: var(--accent-text-color);
    border-radius: 2px;

    margin-right: auto;
    bottom: 0;
    right: 0;
  }
}
