body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}
button {
  font-family: inherit;
  border: 1px solid transparent;
}
img {
  display: block;
}
.section,
.section-apps,
.section-clients,
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
